{% extends 'base.html' %}

{% block title %}
О нашем сайте
{% endblock %}

{% block body %}
    <style>
        h1, h2, h3 {
            color: #444;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .highlight {
            color: #ff6347;
        }
    </style>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class="container">
        <h1>Добро пожаловать в Top Shmot!</h1>
        <p>Мы рады приветствовать вас на нашем сайте, где <span class="highlight">стиль</span> и <span class="highlight">качество</span> встречаются, чтобы предложить вам самые лучшие модные решения. В Top Shmot мы стремимся сделать каждую покупку особенной, предоставляя вам широкий ассортимент одежды для любого случая.</p>

        <h2>Почему выбирают нас?</h2>
        <ul>
            <li><strong>Широкий ассортимент</strong>: У нас вы найдете одежду для женщин, мужчин и детей – от повседневных вещей до элегантных нарядов для особых случаев.</li>
            <li><strong>Высокое качество</strong>: Мы работаем только с проверенными производителями и тщательно выбираем материалы для каждой вещи, чтобы вы могли наслаждаться комфортом и долговечностью.</li>
            <li><strong>Доступные цены</strong>: Мы предлагаем конкурентоспособные цены, чтобы вы могли обновить свой гардероб, не нарушая бюджета.</li>
            <li><strong>Удобство покупок</strong>: Наш сайт создан для вашего удобства. Легкая навигация, детальные описания товаров и качественные фотографии помогут вам сделать правильный выбор.</li>
            <li><strong>Быстрая доставка</strong>: Мы ценим ваше время и гарантируем быструю и надежную доставку ваших заказов.</li>
        </ul>

        <h2>Особенности нашего сервиса</h2>
        <ul>
            <li><strong>Персонализированные рекомендации</strong>: Зарегистрируйтесь на сайте и получите рекомендации, основанные на ваших предпочтениях.</li>
            <li><strong>Программа лояльности</strong>: Присоединяйтесь к нашей программе и получайте бонусы за каждую покупку.</li>
            <li><strong>Поддержка клиентов</strong>: Наша команда поддержки всегда готова помочь вам с любыми вопросами и предложить индивидуальные решения.</li>
        </ul>

        <h2>Не пропустите наши новинки и акции!</h2>
        <p>Подпишитесь на нашу рассылку и первыми узнавайте о новых поступлениях, специальных предложениях и акциях. Присоединяйтесь к нам в социальных сетях, чтобы быть в курсе всех модных новостей и вдохновляться новыми идеями для вашего стиля.</p>

        <p>Top Shmot – это больше, чем просто магазин одежды. Это место, где мода становится доступной и вдохновляющей. Начните свое путешествие в мир стиля прямо сейчас!</p>
    </div>
{% endblock %}
