{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

<h1>Добавить новую запись</h1>
<br>
<form method="POST">
    <div class="mb-3 form-floating">
        <select name="entity_type" class="form-select" required>
            <option value="">Все категории</option>
            <option value="category">Категория товаров</option>
            <option value="country">Страна</option>
            <option value="gender">Пол</option>
            <option value="season">Сезон</option>
            <option value="size">Размеры</option>
        </select>
        <label for="entity_type" class="form-label">Тип записи</label>
    </div>
    <div class="mb-4 form-floating">
        <input type="text" name="name" class="form-control" placeholder="Название" required>
        <label for="name" class="form-label">Название</label>
    </div>
    <input type="submit" class="btn btn-success" value="Добавить новую запись">
</form>
<hr>

{% macro render_list(items, delete_url) %}
{% for item in items %}
<h4>
    - {{ item.name }}
    <a href="{{ url_for(delete_url, id=item.id) }}" class="btn btn-danger btn-sm" style="margin-left: 10px;">Удалить</a>
</h4>
{% endfor %}
{% endmacro %}

<h5>Список актуальных категорий:</h5>
{{ render_list(categories, 'delete_category') }}

<hr>

<h5>Список актуальных полов:</h5>
{{ render_list(genders, 'delete_gender') }}

<hr>

<h5>Список актуальных стран:</h5>
{{ render_list(countrys, 'delete_country') }}

<hr>

<h5>Список актуальных размеров:</h5>
{{ render_list(sizes, 'delete_size') }}

<hr>

<h5>Список актуальных сезонов:</h5>
{{ render_list(seasons, 'delete_season') }}


{% endblock %}
