{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div id="productImagesFor{{ product.id }}">
                <div id="carouselExampleControls{{ product.id }}" class="carousel slide mt-3" data-bs-ride="carousel">
                    <div class="carousel-inner" style="max-width: 500px; width: 100%;">
                        {% for image in product.images %}
                        <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                            <img src="{{ url_for('product_image', filename=image.image) }}" class="d-block w-100">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    {% for image in product.images %}
                    <div class="thumbnail-wrapper" style="max-width: 100px; width: 100%; margin: 10px;">
                        <img src="{{ url_for('product_image', filename=image.image) }}" class="img-thumbnail" style="cursor: pointer;" data-bs-target="#carouselExampleControls{{ product.id }}" data-bs-slide-to="{{ loop.index0 }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>{{ product.title }}</h2>
            <h5 class="card-title pricing-card-title">{{ product.price }} руб.</h5>

            <div class="mt-4 d-flex gap-2">
                <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST" class="d-flex">
                    <button style="font-size: 14px; padding: 10px;" class="btn btn-lg btn-outline-primary" type="submit">
                        Добавить в корзину
                    </button>
                </form>
                <form action="{% if product.id in favorite_product_ids %}{{ url_for('remove_from_favorites', product_id=product.id) }}{% else %}{{ url_for('add_to_favorites', product_id=product.id) }}{% endif %}" method="POST" class="d-inline ms-2">
                    <button style="font-size: 14px; padding: 10px;" class="btn btn-lg {% if product.id in favorite_product_ids %}btn-outline-danger{% else %}btn-outline-secondary{% endif %}" type="submit">
                        {% if product.id in favorite_product_ids %}
                        Удалить из избранного
                        {% else %}
                        Добавить в избранное
                        {% endif %}
                    </button>
                </form>
                {% if current_user.is_admin %}
                <a href="{{ url_for('delete_product', id=product.id) }}" class="btn btn-outline-danger" style="margin-left: 10px; align-content: center;">Удалить</a>
                {% endif %}
            </div>

            <br>

            <div class="card-body">
                <p>{{ product.description|safe }}</p>
                <p> Цена {{ product.price|safe }}</p>
                <p> Идеал {{ product.ideal|safe }}</p>
                <p> Категория {{ product.category.name }}</p>
                <p> Сезон {{ product.season.name }}</p>
                <p> Размер {{ product.size.name }}</p>
                <p> Пол {{ product.gender.name }}</p>
                <p> Страна {{ product.country.name }}</p>
                <span style="background-color: {{ product.color }}; display: inline-block; width: 50px; height: 50px;"></span>
                <p> Скидочная цена {{ product.price_discount|safe }}</p>
                <p> Габариты {{ product.package_size|safe }}</p>
                <p> Бренд {{ product.brand|safe }}</p>
                <p> Ключевые слова {{ product.keywords|safe }}</p>
            </div>
        </div>
    </div>


{% if num_similar_products <= 0 %}
{% else %}
<hr>
<h3>Похожие товары</h3>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 " >
        {% for similar_product in similar_products %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <a href="{{ url_for('detail_product', id=similar_product.id) }}" class="text-decoration-none text-dark">
                <div class="image-container">
                    <img src="/product/img/{{ similar_product.images[0].image }}" class="card-img-top" alt="{{ similar_product.title }}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5>{{ similar_product.title }}</h5>
                    <div class="d-flex" style="align-items: center; place-content: end;">
                        {% if similar_product.price_discount %}
                        <h3>{{ similar_product.price_discount }}₽</h3>
                        {% else %}
                        <h3>{{ similar_product.price }}₽</h3>
                        {% endif %}
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function(carousel) {
            var bsCarousel = new bootstrap.Carousel(carousel, {
                interval: false // Отключение автоматического переключения
            });

            // Обработчик клика на миниатюры
            var thumbnails = carousel.parentElement.querySelectorAll('.thumbnail-wrapper img');
            thumbnails.forEach(function(thumbnail, index) {
                thumbnail.addEventListener('click', function() {
                    bsCarousel.to(index); // Переключение карусели на соответствующий слайд
                });
            });
        });
    });
</script>
{% endblock %}
