{% extends 'base.html' %}

{% block title %}
Избранное
{% endblock %}

{% block body %}

{% if favorites %}

    <h1>Избранное</h1>
    <ul class="list-group">
        {% for favorite in favorites %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('detail_product', id=favorite.product.id) }}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <img src="/product/img/{{ favorite.product.images[0].image }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 5%; margin-right: 10px;">
                    {{ favorite.product.title }}
                </div>
            </a>
            <form action="{{ url_for('remove_from_favorites', product_id=favorite.product.id) }}" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% else %}
    <h2>B избранном пусто</h2>
    <p>Воспользуйтесь поиском, чтобы найти всё, что нужно</p>
    <a class="btn btn-outline-primary" href="/" role="button">Начать покупку</a>
{% endif %}
{% endblock %}
