{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

{% if num_product <= 0 %}
<h2>Мой стиль - Магазин одежды</h2>
<p>Товары закончились, зайдите позже.</p>
{% else %}

<div style="display: flex; margin-bottom: 20px; justify-content: space-between; align-items: center; ">
    <div style="overflow-x: auto; display: flex; margin-right: 15px; grid-gap: 5px; padding: 5px;">
        {% for category in categories %}
        <a style="align-content: center; " href="{{ url_for('home', category_id=category.id) }}" class="btn btn-outline-primary {% if selected_category and selected_category|int == category.id %}selected{% endif %}">
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 " >
    {% for product in products %}
    <div class="col" >
        <div class="card" style="display: flex; flex-direction: column; justify-content: space-between;">
            <a href="{{ url_for('detail_product', id=product.id) }}" class="text-decoration-none text-dark">
                <div class="image-container">
                    <img src="/product/img/{{ product.images[0].image }}" class="card-img-top" alt="{{ product.title }}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h6 class="my-0 text-truncate" style="font-size: 1.2rem; font-weight: 700; margin-bottom: 10px; color: #333;" >{{ product.title }}</h6>
                    <div class="d-flex" style="align-items: center; place-content: end;">
                        {% if product.price_discount %}
                        <h3 style="font-size: 1.4rem; font-weight: 700; margin: 0; color: #9A2113;">{{ product.price_discount }}₽</h3>
                        <h5 style="font-size: 1rem; color: #555; font-weight: 700; text-decoration: line-through; align-self: center; margin: 5px;">{{ product.price }}₽</h5>
                        <span style="color: #ffffff; margin-left: 5px; align-self: flex-start; font-size: small; background-color: #ff0030; border-radius: 15%; padding: 2px;">-{{100- ((product.price_discount / product.price) * 100) | round(2) }}%</span>
                        {% else %}
                        <h3 style="font-size: 1.4rem; font-weight: 700; color: #9A2113;">{{ product.price }}₽</h3>
                        {% endif %}
                    </div>
                </div>
            </a>

        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock %}
