{% extends 'base.html' %}

{% block title %}
Новый товар
{% endblock %}

{% block body %}
<h1>Добавление товара</h1><br>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-2 form-floating">
        {{ form.title(class="form-control" + ( ' is-invalid' if form.title.errors else '' ), placeholder="Название товара") }}
        {{ form.title.label }}
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.price(class="form-control" + ( ' is-invalid' if form.price.errors else '' ), placeholder="Цена товара") }}
        {{ form.price.label }}
        {% if form.price.errors %}
            {% for error in form.price.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.ideal(class="form-control" + ( ' is-invalid' if form.ideal.errors else '' ), placeholder="Для чего больше всего подходит данный товар?") }}
        {{ form.ideal.label }}
        {% if form.ideal.errors %}
            {% for error in form.ideal.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.material(class="form-control" + ( ' is-invalid' if form.material.errors else '' ), placeholder="Материал") }}
        {{ form.material.label }}
        {% if form.material.errors %}
            {% for error in form.material.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.size(class="form-control" + ( ' is-invalid' if form.size.errors else '' ), placeholder="Размер") }}
        {{ form.size.label }}
        {% if form.size.errors %}
            {% for error in form.size.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.washing_temperature(class="form-control" + ( ' is-invalid' if form.washing_temperature.errors else '' ), placeholder="Температура стирки") }}
        {{ form.washing_temperature.label }}
        {% if form.washing_temperature.errors %}
            {% for error in form.washing_temperature.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.ironing_temperature(class="form-control" + ( ' is-invalid' if form.ironing_temperature.errors else '' ), placeholder="Температура глажки") }}
        {{ form.ironing_temperature.label }}
        {% if form.ironing_temperature.errors %}
            {% for error in form.ironing_temperature.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.equipment(class="form-control" + ( ' is-invalid' if form.equipment.errors else '' ), placeholder="Комплектация") }}
        {{ form.equipment.label }}
        {% if form.equipment.errors %}
            {% for error in form.equipment.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.warranty_date(class="form-control" + ( ' is-invalid' if form.warranty_date.errors else '' ), placeholder="Срок гарантии в месяцах") }}
        {{ form.warranty_date.label }}
        {% if form.warranty_date.errors %}
            {% for error in form.warranty_date.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.intro(class="form-control" + ( ' is-invalid' if form.intro.errors else '' ), placeholder="Микро описание") }}
        {{ form.intro.label }}
        {% if form.intro.errors %}
            {% for error in form.intro.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.description(class="form-control" + ( ' is-invalid' if form.description.errors else '' ), placeholder="Описание") }}
        {{ form.description.label }}
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите категорию товара:</h3>
        {{ form.category_id(class="form-select me-2", required=True) }}
        {% if form.category_id.errors %}
            {% for error in form.category_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2">
        {{ form.images.label(class="form-label") }}
        {{ form.images(class="form-control" + ( ' is-invalid' if form.images.errors else '' )) }}
        {% if form.images.errors %}
            {% for error in form.images.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <button class="btn btn-success">Добавить</button>
</form>

<script>
    function updateDescription() {
        var title = document.getElementById('title').value;
        var ideal = document.getElementById('ideal').value;
        var material = document.getElementById('material').value;
        var size = document.getElementById('size').value;
        var washing_temperature = document.getElementById('washing_temperature').value;
        var ironing_temperature = document.getElementById('ironing_temperature').value;
        var equipment = document.getElementById('equipment').value;
        var warranty_date = document.getElementById('warranty_date').value;

        var descriptionTemplate = `Название товара: ${title}

Описание:
${title} - это стильный и качественный элемент гардероба, идеально подходящий для ${ideal}. Изготовлена из высококачественных материалов, обеспечивающих комфорт и долговечность.<br><br>

<b>Характеристики:</b><br><br>

<b>Материал</b>: ${material}<br>
<b>Размеры</b>: ${size}<br>
<b>Цвет</b>: [Цвет]<br>
<b>Дизайн</b>: [Дизайн]<br><br>
Преимущества:<br><br>

Качество: ${title} изготовлена из ${material}, обеспечивающего долгий срок службы и устойчивость к износу.<br>
Комфорт: Благодаря ${material} и [дизайн], одежда обеспечивает комфортное ношение в течение всего дня.<br>
Универсальность: Идеально подходит для ${ideal}.<br>
Стиль: [Описание стиля, соответствующего модным тенденциям и личным предпочтениям].<br><br>
Уход за изделием:<br><br>

Машинная стирка при ${washing_temperature}.<br>
Гладить при ${ironing_temperature}.<br>
Не отбеливать.<br>
Сушить в тени.<br><br>

Комплектация:<br>
${equipment}<br><br>

Гарантия и обслуживание:<br>
Мы предоставляем гарантию на ${title} сроком на ${warranty_date}. Также у нас есть сервисное обслуживание и поддержка клиентов.`;

        document.getElementById('description').value = descriptionTemplate;
    }

    document.getElementById('title').addEventListener('input', updateDescription);
    document.getElementById('ideal').addEventListener('input', updateDescription);
    document.getElementById('material').addEventListener('input', updateDescription);
    document.getElementById('size').addEventListener('input', updateDescription);
    document.getElementById('washing_temperature').addEventListener('input', updateDescription);
    document.getElementById('ironing_temperature').addEventListener('input', updateDescription);
    document.getElementById('equipment').addEventListener('input', updateDescription);
    document.getElementById('warranty_date').addEventListener('input', updateDescription);
</script>

{% endblock %}
