{% extends 'base.html' %}

{% block title %}
Новый товар
{% endblock %}

{% block body %}
<h1>Добавление товара</h1><br>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-2 form-floating">
        {{ form.title(class="form-control" + ( ' is-invalid' if form.title.errors else '' ), placeholder="Название товара") }}
        {{ form.title.label(class="form-label") }}
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.price(class="form-control" + ( ' is-invalid' if form.price.errors else '' ), placeholder="Цена товара") }}
        {{ form.price.label(class="form-label") }}
        {% if form.price.errors %}
            {% for error in form.price.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.ideal(class="form-control" + ( ' is-invalid' if form.ideal.errors else '' ), placeholder="Для чего подходит") }}
        {{ form.ideal.label(class="form-label") }}
        {% if form.ideal.errors %}
            {% for error in form.ideal.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>


    <div class="mb-2 form-floating">
        {{ form.warranty_date(class="form-control" + ( ' is-invalid' if form.warranty_date.errors else '' ), placeholder="Срок гарантии (месяцы)") }}
        {{ form.warranty_date.label(class="form-label") }}
        {% if form.warranty_date.errors %}
            {% for error in form.warranty_date.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.description(class="form-control" + ( ' is-invalid' if form.description.errors else '' ), placeholder="Описание") }}
        {{ form.description.label(class="form-label") }}
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2">
        {{ form.color.label(class="form-label") }}
        {{ form.color(class="form-control form-control-color" + ( ' is-invalid' if form.color.errors else '' ), type="color") }}
        {% if form.color.errors %}
            {% for error in form.color.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.price_discount(class="form-control" + ( ' is-invalid' if form.price_discount.errors else '' ), placeholder="Цена со скидкой") }}
        {{ form.price_discount.label(class="form-label") }}
        {% if form.price_discount.errors %}
            {% for error in form.price_discount.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.package_size(class="form-control" + ( ' is-invalid' if form.package_size.errors else '' ), placeholder="Размер и вес упаковки") }}
        {{ form.package_size.label(class="form-label") }}
        {% if form.package_size.errors %}
            {% for error in form.package_size.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.brand(class="form-control" + ( ' is-invalid' if form.brand.errors else '' ), placeholder="Бренд") }}
        {{ form.brand.label(class="form-label") }}
        {% if form.brand.errors %}
            {% for error in form.brand.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2 form-floating">
        {{ form.keywords(class="form-control" + ( ' is-invalid' if form.keywords.errors else '' ), placeholder="ключевые слова для поиска") }}
        {{ form.keywords.label(class="form-label") }}
        {% if form.keywords.errors %}
            {% for error in form.keywords.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите страну производителя:</h3>
        {{ form.country_id(class="form-select me-2", required=True) }}
        {% if form.country_id.errors %}
            {% for error in form.country_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите пол:</h3>
        {{ form.gender_id(class="form-select me-2", required=True) }}
        {% if form.gender_id.errors %}
            {% for error in form.gender_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите размер:</h3>
        {{ form.size_id(class="form-select me-2", required=True) }}
        {% if form.size_id.errors %}
            {% for error in form.size_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите сезон:</h3>
        {{ form.season_id(class="form-select me-2", required=True) }}
        {% if form.season_id.errors %}
            {% for error in form.season_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <h3 class="me-4">Выберите категорию товара:</h3>
        {{ form.category_id(class="form-select me-2", required=True) }}
        {% if form.category_id.errors %}
            {% for error in form.category_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mb-2">
        {{ form.images.label(class="form-label") }}
        {{ form.images(class="form-control" + ( ' is-invalid' if form.images.errors else '' )) }}
        {% if form.images.errors %}
            {% for error in form.images.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <button class="btn btn-success">Добавить</button>
</form>



{% endblock %}
