{% extends 'base.html' %}

{% block title %}
Политика возврата товара
{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Политика возврата</h2>
                    <p class="text-muted">Последнее обновление: 7 июля 2024 г.</p>

                    <h4>1. Право на возврат</h4>
                    <p>Чтобы иметь право на возврат, товар должен быть неиспользованным, в его первоначальном состоянии и в оригинальной упаковке. {{ shop_name }} оставляет за собой право отказать в возврате определённых товаров по причинам здоровья, безопасности или по другим нормативным причинам. Право товара на возврат будет чётко указано в описании товара. В случае возникновения неясностей клиентам рекомендуется связаться с {{ shop_name }} для уточнения перед покупкой.</p>

                    <h4>2. Окно возврата</h4>
                    <p>Клиенты имеют право инициировать возврат в течение 30 календарных дней с даты доставки, как указано в нашей системе. Этот период начинается со следующего дня после даты поставки. Если товар получен в дефектном состоянии или не соответствует спецификациям заказа, клиенты должны уведомить об этом {{ shop_name }} в течение 48 часов с момента получения, чтобы обеспечить быстрое решение.</p>

                    <h4>3. Процесс возврата</h4>
                    <p>Чтобы инициировать возврат, клиенты должны связаться с {{ shop_name }} по электронной почте по адресу <a href="mailto:{{ return_email }}">{{ return_email }}</a>. В сообщении должен быть указан номер заказа и подробное объяснение запроса на возврат. После получения этой информации {{ shop_name }} предоставит конкретные инструкции по процессу возврата. Несоблюдение этих инструкций может привести к задержкам или отклонению возврата.</p>

                    <h4>4. Возврат средств</h4>
                    <p>После получения и проверки возвращённого товара {{ shop_name }} уведомит клиента по электронной почте о статусе его возврата. В случае одобрения возврат средств будет обработан первоначальным способом оплаты в течение 7 рабочих дней. Сумма возмещения будет равна покупной цене возвращённого товара(ов) за вычетом любых расходов на доставку, если иное не требуется применимым законодательством. В случаях, когда возврат происходит из-за ошибки со стороны {{ shop_name }}, все сопутствующие расходы, включая доставку, будут возмещены.</p>

                    <h4>5. Стоимость доставки</h4>
                    <p>Клиент несёт расходы по обратной доставке, за исключением случаев, когда возврат вызван ошибкой со стороны {{ shop_name }} или иным образом, предусмотренным законом. Стоимость доставки не возмещается и будет вычтена из любого произведённого возмещения, если это применимо. {{ shop_name }} рекомендует покупателям использовать отслеживаемую службу доставки и приобретать страховку доставки для товаров, имеющих значительную стоимость, поскольку {{ shop_name }} не несёт ответственности за утерю или повреждение товаров при транспортировке в процессе возврата.</p>

                    <h4>6. Исключения и особые обстоятельства</h4>
                    <p>Некоторые товары, включая, помимо прочего, скоропортящиеся продукты, персонализированные товары и интимную одежду, могут быть исключены из этой политики возврата. Такие исключения будут чётко указаны в описании товара. В случае форс-мажорных обстоятельств или других чрезвычайных обстоятельств {{ shop_name }} оставляет за собой право временно или навсегда изменить настоящую политику, при этом такие изменения вступают в силу немедленно после публикации на веб-сайте.</p>

                    <h4>7. Права потребителей</h4>
                    <p>Настоящая Политика возврата не влияет на какие-либо законные права, которые клиенты могут иметь в соответствии с применимыми законами о защите прав потребителей. В случае каких-либо противоречий между настоящей политикой и применимым законодательством, положения закона имеют преимущественную силу.</p>

                    <h4>8. Контактная информация</h4>
                    <p>По любым вопросам, касающимся настоящей Политики возврата, или помощи с возвратом, пожалуйста, свяжитесь с {{ shop_name }} по адресу:</p>
                    <p>Электронная почта: <a href="mailto:{{ return_email }}">{{ return_email }}</a><br> Телефон: <a href="tel:{{ shop_phone }}">{{ shop_phone }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
