<div id="productImagesFor{{product.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
   <div class="carousel-inner">
       {% for image in product.images %}
      <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <img src="/product/img/{{image.image}}" class="d-block w-100" alt="Slide 1">
      </div>
       {% endfor %}
   </div>
   <a class="carousel-control-prev" href="#productImagesFor{{product.id}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </a>
   <a class="carousel-control-next" href="#productImagesFor{{product.id}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </a>
</div>